<nav>
  <a [routerLink]="['']">Customer list</a>
</nav>
<h2 class="text-center">Customer Edit form</h2>
<form [formGroup]="editForm" (ngSubmit)="editCustomer()" class="col-md-6 offset-md-3">
  <div class="form-group row">
    <label class="col">
      First name
      <input type="text" class="form-control" formControlName="firstName">
    </label>
  </div>
    <div class="alert alert-danger" role="alert" *ngIf="editForm.get('firstName').invalid && editForm.get('firstName').touched">
      Invalid fistName, please enter again!
    </div>
  <div class="form-group row">
    <label class="col">
      Last name
      <input type="text" class="form-control" formControlName="lastName">
    </label>
  </div>

    <div class="alert alert-danger" role="alert" *ngIf="editForm.get('lastName').invalid && editForm.get('lastName').touched">
      Invalid lastName, please enter again!
    </div>
  <div class="form-group">
    <button class="btn btn-info" type="submit" [disabled]='editForm.invalid'>Edit customer</button>
  </div>
</form>

<!--<pre>-->
<!--{{ editForm.value | json}}-->
<!--</pre>-->
